<footer class="border-t border-slate-200 bg-blue-950 text-white">
  <div class="mx-auto max-w-7xl px-4 py-12 md:px-6 lg:px-8">
    <div class="grid gap-10 md:grid-cols-2 lg:grid-cols-4">
      <div>
        <div class="mb-4 flex items-center gap-2 text-lg font-semibold text-slate-300">
            <a [routerLink]="['/']"><i class="pi pi-book text-[32px] text-orange-500"></i>
            <span class="text-2xl"> FoodieHub</span></a>
        </div>
        <p class="text-sm leading-6 text-slate-500">
          Dijeli recepte, planiraj obroke i otkrij nove kulinarske ideje na jednom mjestu.
        </p>
      </div>

      <div>
        <h4 class="mb-4 text-sm font-semibold text-slate-300">Navigacija</h4>
        <ul class="space-y-2 text-sm text-slate-500">
          <li><a [routerLink]="['/']" class="hover:text-orange-500">Početna</a></li>
          <li><a [routerLink]="['/recipe-list']" class="hover:text-orange-500">Recepti</a></li>
          <li><a [routerLink]="['/']" class="hover:text-orange-500">Planer</a></li>
          <li><a [routerLink]="['/']" class="hover:text-orange-500">O nama</a></li>
        </ul>
      </div>

      <div>
        <h4 class="mb-4 text-sm font-semibold text-slate-300">Resursi</h4>
        <ul class="space-y-2 text-sm text-slate-500">
          <li><a href="#" class="hover:text-orange-500">Blog</a></li>
          <li><a href="#" class="hover:text-orange-500">FAQ</a></li>
          <li><a href="#" class="hover:text-orange-500">Podrška</a></li>
          <li><a href="#" class="hover:text-orange-500">Kontakt</a></li>
        </ul>
      </div>

      <div>
        <h4 class="mb-4 text-sm font-semibold text-slate-300">Prati nas</h4>
        <div class="flex gap-3 text-slate-500">
          <a href="#" class="flex h-9 w-9 items-center justify-center rounded-full border hover:text-orange-500"><i class="pi pi-facebook"></i></a>
          <a href="#" class="flex h-9 w-9 items-center justify-center rounded-full border hover:text-orange-500"><i class="pi pi-instagram"></i></a>
          <a href="#" class="flex h-9 w-9 items-center justify-center rounded-full border hover:text-orange-500"><i class="pi pi-twitter"></i></a>
        </div>
      </div>

    </div>

    <div class="mt-10 border-t border-slate-200 pt-6 text-center text-sm text-slate-500">
      © 2026 FoodieHub. Sva prava pridržana.
    </div>

  </div>
</footer>
